<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movierivvana">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieRivvana">
        <activity
            android:name="com.example.movierivvana.activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.movierivvana.activity.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.movierivvana.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.movierivvana.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.movierivvana.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>